{% extends 'personas/Base.html' %}

{% block titulo %}
     medico
{% endblock titulo %}     


{% block body %}

<div class="row block" >
    <div class="card-title">
        <h2 class="text-center">Ingrese Dtos </h2>
    </div>
</div>
<form method="POST">
    {% csrf_token %}
    {% for input in form %}
    <div class="row" >
        <div class="col-md-18" >
            <div class="form-group" >
              <label for="{{ input.id_for_label }}">{{ input.label }}</label>
              {{ input }}
            </div>
        </div>
    </div>
    {% endfor %}  
</form>

{% endblock body %}