<!-- creado por Oscar -->
<!-- modificado por osvaldo-->
{% extends 'personas/Base.html' %}

{% block titulo %}
   Secretaria
{% endblock titulo %} 

{% block body %}

<div class="input-group" >
    <div class="input-group-prepend" >
        <div class="card-title" >
            <h2 class="text-center" > Secretaria  </h2>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% for input in forms %}
            <div class="row" >
                <div class="col-md-12" >
                    <div class="form-group" >
                        <label for="{{ input.id_for_label }}"> {{ input.label }} </label>
                        {{ input }}
                        {%% if input.errors %}
                        {% for error in input.errors %}
                        <small class="form-text text-muted"  >
                            {{ error }}
                            {% endfor %}
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
            {% endfor }
        </form>
    </div>
</div>
{% endblock body %}